h1 {
	color: blue;
}
p {
	color: teal;
}






.navy {
	color: navy;
}

.gray {
	color: gray;
}

.black {
	color: black;
}






.pink {
	color: pink;
}

.cyan {
	color: cyan;
}

.lime {
	color: lime;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.magenta {
	color: magenta;
}

.indigo {
	color: indigo;
}

.maroon {
	color: maroon;
}





#black {
        background-color: black;
      }

#green {
        background-color: green;
      }

#purple {
        background-color: purple;
      }



.violet {
        background-color: violet;
      }
#lime {
        color: lime;
      }
#cyan {
        color: cyan;
      }
#brown {
        color: brown;
      }
#black2 {
        color: black;
      }


